@charset "UTF-8";

/* 管理画面共通 */

.adminContentsArea {
	display: flex;
}

.adminHeader {
	background-color: #fff;
	width: 100%;
	padding: 5px 20px;
}

.rightContents {
	background-color: #f5f9fc;
	width: calc(100% - 170px);
}

.adminAside {
	height: 100vh;
	width: 170px;
}

.adminAside__nav {
	font-size: 1.2rem;
}

.adminAside__nav ul {
	margin: 10px;
}

.adminAside__nav ul li {
	padding-bottom: 5px;
	border-bottom: 1px solid #fff;
}

.leftContents {
	background-color: #88c8ac;
	color: #fff;
}

.adminHeader {
	text-align: end;
}

.contentsArea {
	margin: 15px;
}

.contentsArea__header {
	display: flex;
	justify-content: space-between;
}

.contentsArea__header__title {
  font-size: 2rem;
	margin: 20px 0;
}

.contentsArea__header__btnArea {
	display: flex;
	justify-content: end;
	align-items: center;
}

.contentsArea__header__btnArea li {

}

.contentsArea__header__btnArea li a {
	padding: 5px;
	width: 120px;
	background-color: #56ca97;
	border-radius: 7px;
	display: block;
	color: white;
	text-align: center;
	opacity: 1;
}

.contentsArea__header__btnArea li a:hover {
	opacity: .7;
}


/* ハンバーガーメニュー */
.header__hamburger {
	display: flex;
	justify-content: end;
	margin: 10px;
}
.header__hamburger button {
  width: 36px;
}

.hamburger {
  background-color: transparent; /*buttonタグデフォルトスタイルを打ち消し*/
  border-color: transparent; /*buttonタグデフォルトスタイルを打ち消し*/
  z-index: 9999;
}

/* ハンバーガーメニューの線 */
.hamburger span {
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: relative;
  transition: ease .4s; /*ハンバーガーメニュークリック時の三本線の動きを遅延*/
  display: block;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  margin: 8px 0;
}

.hamburger span:nth-child(3) {
  top: 0;
}

/* ハンバーガーメニュークリック後のスタイル */
.header__nav.active {
  transform: translateX(0);
}

.hamburger.active span:nth-child(1) {
  top: 5px;
  transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  top: -13px;
  transform: rotate(-45deg);
}

/* login */

.loginFormArea {
	box-shadow: 2px 2px 7px 1px rgb(0 0 0 / 8%), -2px -2px 7px 1px rgb(0 0 0 / 8%);
	max-width: 400px;
	width: 90%;
	margin: auto;
	padding: 30px;
	border-radius: 5px;
	position: relative;
}

.login {
	position: relative;
	height: 100vh;
	padding: 20vh 0;
}

.loginInput {
	border: solid 1px #cbcbcb;
}

.loginFormArea__title {
	margin-bottom: 10px;
	font-size: 2rem;
	text-align: center;
}

.loginItemBox {
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
}

.loginInput {
	padding: 2px 5px;
}

.submitButton {
	padding:  10px 0;
  width: 100%;
	margin: auto;
	background-color: #88c8ac;
	border: 2px #333 solid;
	border-radius: 8px;
	display: block;
	color: #fff;
	font-weight: bold;
	font-size: 1.1rem;
	text-align: center;
}

.errorMessage {
  color: red;
  display: block;
  margin-top: 5px;
}

.contentsArea__content {
	/* height: 90vh; */
	background-color: #fff;
	box-shadow: 0 0 3px 0 gray;
}

.contentsArea__content ul {
  padding: 40px 30px;
	font-size: 1.5rem;
}
.contentsArea__content .registration {
	color: #88C8AC;
}

/* ユーザー一覧ページ */
.adminTebleArea {
	display: flex;
	justify-content: center;
}

.adminTebleArea .teble {
	margin: 30px;
	width: 100%;
	border: 1px solid #333;
	border-radius: 7px;
}

.adminTebleArea .teble tr {
	width: 100%;
	/* border: 1px solid #333; */
}

.adminTebleArea .teble th {
	border: 1px solid #333;
	background-color: #cbcbcb;
}

.adminTebleArea .teble th:nth-child(1),
.adminTebleArea .teble th:nth-child(2),
.adminTebleArea .teble th:nth-child(4),
.adminTebleArea .teble th:nth-child(5) {
	width: 10%;
}

.adminTebleArea .teble th:nth-child(3),
.adminTebleArea .teble th:nth-child(6),
.adminTebleArea .teble th:nth-child(7) {
	width: 20%;
}

.adminTebleArea .teble td {
	border: 1px solid #333;
	padding: 5px;
}
.adminTebleArea .teble td:nth-child(1) {
	text-align: center;
}

.adminTebleArea .teble a.tableCreateLink {
	margin: 0 auto;
	width: 50%;
	display: block;
	background-color: #56ca97;
	border-radius: 5px;
	color: white;
	opacity: 1;
}

.adminTebleArea .teble a.tableCreateLink:hover {
	opacity: .7;
}

/* ブレッドクラム */
ol.breadcrumb  {
	margin: 0 auto;
	padding: 5px 15px;
	display: flex;
}

ol.breadcrumb li.breadcrumb-item a:hover {
	opacity: .7;
}

ol.breadcrumb li:not(:first-child)::before {
  content: '>'; /* セパレーター */
  margin: 0 10px; /* 前後の余白 */
  color: #333; /* セパレーターの色 */
}

/* 新規ユーザー登録 */
.contentsArea__content {
  width: 100%;
  margin: auto;
	padding: 10px;
}

.contentItem .required {
  background: #88c8ac;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
}

.contentItem {
  display: flex;
	flex-direction: column;
}

.textItem {
  padding: 10px;
  width: 40%;
}

.inputItem {
  padding: 10px;
  width: 60%;
}

.textInput {
  background-color: #eaedf2;
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
}

.textItem label {
  font-size: 1rem;
  font-weight: bold;
}

.submitButton {
  width: 90%;
  margin: auto;
  max-width: 300px;
  background-color: #88c8ac;
  border: 2px #333 solid;
  border-radius: 8px;
  display: block;
  padding: 20px 5px;
  color: #fff;
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
}

.select {
  border: 1px #888b91 solid;
}

.memoText {
	padding: 10px;
  background-color: #ebedf2;
  width: 100%;
  height: 200px;
}